!**/.gitignore
!.gitattributes
!.editorconfig
!.devcontainer
!.mybashrc
# This prevents files in the .donotcommit directory from being added to git
.donotcommit
# The containerfs directory is created when you switch to the development container
containerfs/**